body {
    background-color: #FAF9F6;
    background-image: url("/static/images/newOEEBackground.png");
    font-family: Helvetica;
   
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 
}

