body {
    background-color: #FAF9F6;
    background-image: url("/static/images/newOEEBackground.png");
    font-family: Helvetica;
   
}

.grid-container {
    display: inline-grid;
    background-color: wheat;
    padding: 10px;
    /* box-sizing: border-box; */
    /* align-items: center; */
    grid-template-columns: auto auto auto;
    /* grid-template-columns: repeat(auto, minmax(240px, 1fr)); */
    /* grid-template-columns: auto, minmax(240px, 1fr, 2fr) */
  }

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
    color: green;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: fit-content;
    width: fit-content;
    /* max-height: fit-content; */
  }

/* .grid-container {
    display: grid;
  } */





