{% extends 'base.html' %}
{% load static %}
{% block content %}

<link rel ="stylesheet" type="text/css" href="{%static '\\css\\main.css' %}">
<h1>What is OEE?</h1>
<div class="about_text">
<p>OEE (Overall Equipment Effectiveness) is the gold standard for measuring manufacturing productivity. Simply put – it identifies the percentage of manufacturing time that is truly productive. An OEE score of 100% means you are manufacturing only Good Parts, as fast as possible, with no Stop Time. In the language of OEE that means 100% Quality (only Good Parts), 100% Performance (as fast as possible), and 100% Availability (no Stop Time).</p>

<p>Measuring OEE is a manufacturing best practice. By measuring OEE and the underlying losses, you will gain important insights on how to systematically improve your manufacturing process. OEE is the single best metric for identifying losses, benchmarking progress, and improving the productivity of manufacturing equipment (i.e., eliminating waste).</p></div>


{% endblock content %}
