{% extends 'base.html' %}
{% load static %}
{% block content %}

<! link to css stylesheet>
<link rel ="stylesheet" type="text/css" href="{%static '\\css\\main.css' %}">
<! Title >
<h1>BESI 2200 Evo Multichip Die Bonder DA5</h1>


<! create grid divs for css>
<div class="grid">
    <div class="image"><div class="sub-image"><img src="{% static 'images/evo_2200.jpg' %} " height="350px" width="350px" align="center"></div></div>
    <div class="oee_plot"><scr=<a href="https://plotly.com/~james.booth/0/?share_key=O3GHOfNGwRMOhBQAJoMaQA" target="_blank" title="plotlyOEEGauge" style="display: block; text-align: center;"><img src="https://plotly.com/~james.booth/0.png?share_key=O3GHOfNGwRMOhBQAJoMaQA" alt="plotlyOEEGauge" style="max-width: 100%;width: 600px;"  width="600" onerror="this.onerror=null;this.src='https://plotly.com/404.png';" /></a>
        <script data-plotly="james.booth:0" sharekey-plotly="O3GHOfNGwRMOhBQAJoMaQA" src="https://plotly.com/embed.js" async></script></div>

    <div class="time_series"><scr=<a href="https://plotly.com/~james.booth/5/?share_key=HZ64c21Ofq6p6R2SebVvfL" target="_blank" title="plotlyTimeSeries" style="display: block; text-align: center;"><img src="https://plotly.com/~james.booth/5.png?share_key=HZ64c21Ofq6p6R2SebVvfL" alt="plotlyTimeSeries" style="max-width: 100%;width: 600px;"  width="600" onerror="this.onerror=null;this.src='https://plotly.com/404.png';" /></a>
        <script data-plotly="james.booth:5" sharekey-plotly="HZ64c21Ofq6p6R2SebVvfL" src="https://plotly.com/embed.js" async></script></div>

    <div class="availability_plot"><scr=<a href="https://plotly.com/~james.booth/1/?share_key=vs15D2cOHC7l8rtIivrYEz" target="_blank" title="plotlyAvailabilityGauge" style="display: block; text-align: center;"><img src="https://plotly.com/~james.booth/1.png?share_key=vs15D2cOHC7l8rtIivrYEz" alt="plotlyAvailabilityGauge" style="max-width: 100%;width: 600px;"  width="600" onerror="this.onerror=null;this.src='https://plotly.com/404.png';" /></a>
        <script data-plotly="james.booth:1" sharekey-plotly="vs15D2cOHC7l8rtIivrYEz" src="https://plotly.com/embed.js" async></script></div>

    <div class="performance_plot"><scr=<a href="https://plotly.com/~james.booth/2/?share_key=a0UTC6jc0vrdZX7JpVJPaW" target="_blank" title="plotlyOPerformanceGauge" style="display: block; text-align: center;"><img src="https://plotly.com/~james.booth/2.png?share_key=a0UTC6jc0vrdZX7JpVJPaW" alt="plotlyOPerformanceGauge" style="max-width: 100%;width: 600px;"  width="600" onerror="this.onerror=null;this.src='https://plotly.com/404.png';" /></a>
        <script data-plotly="james.booth:2" sharekey-plotly="a0UTC6jc0vrdZX7JpVJPaW" src="https://plotly.com/embed.js" async></script></div>

    <div class="quality_plot"><scr=<a href="https://plotly.com/~james.booth/3/?share_key=015Ru6b4BWdPtCr2TP5wFT" target="_blank" title="plotlyQualityGauge" style="display: block; text-align: center;"><img src="https://plotly.com/~james.booth/3.png?share_key=015Ru6b4BWdPtCr2TP5wFT" alt="plotlyQualityGauge" style="max-width: 100%;width: 600px;"  width="600" onerror="this.onerror=null;this.src='https://plotly.com/404.png';" /></a>
        <script data-plotly="james.booth:3" sharekey-plotly="015Ru6b4BWdPtCr2TP5wFT" src="https://plotly.com/embed.js" async></script></div>
</div>

<div>
<p>Serial Number: 950 2610 005 139  |  Year: 2016  |  Software Version: vWork@atracmp2k2 cevo31p26_43  |  OS Version: Capella.13 (Trusty 14.04)</p>

</div>



{% endblock content %}