{% extends 'base.html' %}
{% load static %}
{% block content %}

<! link to css stylesheet>
<link rel ="stylesheet" type="text/css" href="{%static '\\css\\main.css' %}">
<! Title >

<div class="clocktitle">
    <div class="title" ><h1>BESI 2200 Evo Multichip Die Bonder DA5</h1></div>
    {% comment %} <div class="dateupdate"> <h7> Data last updated on 07/06/2022</h2></div> {% endcomment %}
    {% comment %} <div class = "clock"><iframe src="https://www.zeitverschiebung.net/clock-widget-iframe-v2?language=en&size=small&timezone=Europe%2FLondon" width="100%" height="90" frameborder="0" seamless></iframe> </div> {% endcomment %}
</div>
<! create grid divs for css>
<div class="grid">
    <div class="image"><img src="{% static 'images/evo_2200.jpg' %} " height="350px" width="350px" align="center"></div>
    <div class="oee_plot"><a href="https://plotly.com/~james.booth/63/?share_key=lMavE1rOG9PbVujrF6v3se" target="_blank" title="DA5_plotlyOEEGauge" style="display: block; text-align: center;"><img src="https://plotly.com/~james.booth/63.png?share_key=lMavE1rOG9PbVujrF6v3se" alt="DA5_plotlyOEEGauge" style="max-width: 100%;width: 600px;"  width="600" onerror="this.onerror=null;this.src='https://plotly.com/404.png';" /></a>
        <script data-plotly="james.booth:63" sharekey-plotly="lMavE1rOG9PbVujrF6v3se" src="https://plotly.com/embed.js" async></script></div>

    <div class="time_series"><a href="https://plotly.com/~james.booth/59/?share_key=ga7S07sQGEjw1L066lgkBp" target="_blank" title="DA5_plotlyTimeSeries" style="display: block; text-align: center;"><img src="https://plotly.com/~james.booth/59.png?share_key=ga7S07sQGEjw1L066lgkBp" alt="DA5_plotlyTimeSeries" style="max-width: 100%;width: 600px;"  width="600" onerror="this.onerror=null;this.src='https://plotly.com/404.png';" /></a>
        <script data-plotly="james.booth:59" sharekey-plotly="ga7S07sQGEjw1L066lgkBp" src="https://plotly.com/embed.js" async></script></div>
    

    <div class="availability_plot"><a href="https://plotly.com/~james.booth/60/?share_key=TW1yCYPR0YhbziCDTTBoiy" target="_blank" title="DA5_plotlyAvailabilityGauge" style="display: block; text-align: center;"><img src="https://plotly.com/~james.booth/60.png?share_key=TW1yCYPR0YhbziCDTTBoiy" alt="DA5_plotlyAvailabilityGauge" style="max-width: 100%;width: 600px;"  width="600" onerror="this.onerror=null;this.src='https://plotly.com/404.png';" /></a>
        <script data-plotly="james.booth:60" sharekey-plotly="TW1yCYPR0YhbziCDTTBoiy" src="https://plotly.com/embed.js" async></script></div>
    
    

    <div class="performance_plot"><a href="https://plotly.com/~james.booth/61/?share_key=IODnK7JLio0x8JzBUay7yh" target="_blank" title="DA5_plotlyPerformanceGauge" style="display: block; text-align: center;"><img src="https://plotly.com/~james.booth/61.png?share_key=IODnK7JLio0x8JzBUay7yh" alt="DA5_plotlyPerformanceGauge" style="max-width: 100%;width: 600px;"  width="600" onerror="this.onerror=null;this.src='https://plotly.com/404.png';" /></a>
        <script data-plotly="james.booth:61" sharekey-plotly="IODnK7JLio0x8JzBUay7yh" src="https://plotly.com/embed.js" async></script></div>
    

    <div class="quality_plot"><a href="https://plotly.com/~james.booth/62/?share_key=s06CWTr5E95doDATYI90MB" target="_blank" title="DA5_plotlyQualityGauge" style="display: block; text-align: center;"><img src="https://plotly.com/~james.booth/62.png?share_key=s06CWTr5E95doDATYI90MB" alt="DA5_plotlyQualityGauge" style="max-width: 100%;width: 600px;"  width="600" onerror="this.onerror=null;this.src='https://plotly.com/404.png';" /></a>
        <script data-plotly="james.booth:62" sharekey-plotly="s06CWTr5E95doDATYI90MB" src="https://plotly.com/embed.js" async></script></div>
    
</div>

<div>
<p>Serial Number: 950 2610 005 139  |  Year: 2016  |  Software Version: vWork@atracmp2k2 cevo31p26_43  |  OS Version: Capella.13 (Trusty 14.04)</p>

</div>



{% endblock content %}