{% extends 'base.html' %}
{% load static %}
{% block content %}

<! link to css stylesheet>
<link rel ="stylesheet" type="text/css" href="{%static '\\css\\main.css' %}">
<! Title >
<h1>BESI 2200 Evo Multichip Die Bonder DA6</h1>


<! create grid divs for css>
<div class="grid">
    <div class="image"><div class="sub-image"><img src="{% static 'images/evo_2200.jpg' %} " height="350px" width="350px" align="center"></div></div>
    <div class="oee_plot"><a href="https://plotly.com/~james.booth/69/?share_key=2aTuALjV7nzIHIwDBRlhnD" target="_blank" title="DA6_plotlyOEEGauge" style="display: block; text-align: center;"><img src="https://plotly.com/~james.booth/69.png?share_key=2aTuALjV7nzIHIwDBRlhnD" alt="DA6_plotlyOEEGauge" style="max-width: 100%;width: 600px;"  width="600" onerror="this.onerror=null;this.src='https://plotly.com/404.png';" /></a>
        <script data-plotly="james.booth:69" sharekey-plotly="2aTuALjV7nzIHIwDBRlhnD" src="https://plotly.com/embed.js" async></script></div>

    <div class="time_series"><a href="https://plotly.com/~james.booth/65/?share_key=SRvaMDWnjFQsoGhOOpTHSG" target="_blank" title="DA6_plotlyTimeSeries" style="display: block; text-align: center;"><img src="https://plotly.com/~james.booth/65.png?share_key=SRvaMDWnjFQsoGhOOpTHSG" alt="DA6_plotlyTimeSeries" style="max-width: 100%;width: 600px;"  width="600" onerror="this.onerror=null;this.src='https://plotly.com/404.png';" /></a>
        <script data-plotly="james.booth:65" sharekey-plotly="SRvaMDWnjFQsoGhOOpTHSG" src="https://plotly.com/embed.js" async></script></div>

    <div class="availability_plot"><a href="https://plotly.com/~james.booth/66/?share_key=3siRfkD8tLvrUzUu78Loh5" target="_blank" title="DA6_plotlyAvailabilityGauge" style="display: block; text-align: center;"><img src="https://plotly.com/~james.booth/66.png?share_key=3siRfkD8tLvrUzUu78Loh5" alt="DA6_plotlyAvailabilityGauge" style="max-width: 100%;width: 600px;"  width="600" onerror="this.onerror=null;this.src='https://plotly.com/404.png';" /></a>
        <script data-plotly="james.booth:66" sharekey-plotly="3siRfkD8tLvrUzUu78Loh5" src="https://plotly.com/embed.js" async></script></div>
    

    <div class="performance_plot"><a href="https://plotly.com/~james.booth/67/?share_key=549k4DjsPeul3NTOhrVIAA" target="_blank" title="DA6_plotlyPerformanceGauge" style="display: block; text-align: center;"><img src="https://plotly.com/~james.booth/67.png?share_key=549k4DjsPeul3NTOhrVIAA" alt="DA6_plotlyPerformanceGauge" style="max-width: 100%;width: 600px;"  width="600" onerror="this.onerror=null;this.src='https://plotly.com/404.png';" /></a>
        <script data-plotly="james.booth:67" sharekey-plotly="549k4DjsPeul3NTOhrVIAA" src="https://plotly.com/embed.js" async></script></div>
    

    <div class="quality_plot"><a href="https://plotly.com/~james.booth/68/?share_key=n7SC8VAZjqC0AEaa6NVCi0" target="_blank" title="DA6_plotlyQualityGauge" style="display: block; text-align: center;"><img src="https://plotly.com/~james.booth/68.png?share_key=n7SC8VAZjqC0AEaa6NVCi0" alt="DA6_plotlyQualityGauge" style="max-width: 100%;width: 600px;"  width="600" onerror="this.onerror=null;this.src='https://plotly.com/404.png';" /></a>
        <script data-plotly="james.booth:68" sharekey-plotly="n7SC8VAZjqC0AEaa6NVCi0" src="https://plotly.com/embed.js" async></script></div>
    
</div>

<div>
<p>Serial Number: 950 2610 005 428  |  Year: 2016  |  Software Version: vWork@atracmp2k2 cevo31p26_43  |  OS Version: Capella.13 (Trusty 14.04)</p>

</div>



{% endblock content %}