{% extends 'base.html' %}
{% load static %}
{% block content %}

<! link to css stylesheet>
<link rel ="stylesheet" type="text/css" href="{%static '\\css\\main.css' %}">
<! Title >
<h1>BESI 2200 Evo Multichip Die Bonder DA7</h1>


<! create grid divs for css>
<div class="grid">
    <div class="image"><div class="sub-image"><img src="{% static 'images/evo_2200.jpg' %} " height="350px" width="350px" align="center"></div></div>
    <div class="oee_plot"><a href="https://plotly.com/~james.booth/77/?share_key=8Poi5vuGRFO3VUFEnT8uxN" target="_blank" title="DA7_plotlyOEEGauge" style="display: block; text-align: center;"><img src="https://plotly.com/~james.booth/77.png?share_key=8Poi5vuGRFO3VUFEnT8uxN" alt="DA7_plotlyOEEGauge" style="max-width: 100%;width: 600px;"  width="600" onerror="this.onerror=null;this.src='https://plotly.com/404.png';" /></a>
        <script data-plotly="james.booth:77" sharekey-plotly="8Poi5vuGRFO3VUFEnT8uxN" src="https://plotly.com/embed.js" async></script></div>
    

    <div class="time_series"><a href="https://plotly.com/~james.booth/73/?share_key=KPZROprJOhkmofiaAh3PbA" target="_blank" title="DA7_plotlyTimeSeries" style="display: block; text-align: center;"><img src="https://plotly.com/~james.booth/73.png?share_key=KPZROprJOhkmofiaAh3PbA" alt="DA7_plotlyTimeSeries" style="max-width: 100%;width: 600px;"  width="600" onerror="this.onerror=null;this.src='https://plotly.com/404.png';" /></a>
        <script data-plotly="james.booth:73" sharekey-plotly="KPZROprJOhkmofiaAh3PbA" src="https://plotly.com/embed.js" async></script></div>
    

    <div class="availability_plot"><a href="https://plotly.com/~james.booth/74/?share_key=R0nJm9gWNkbaq7cB8jVnuT" target="_blank" title="DA7_plotlyAvailabilityGauge" style="display: block; text-align: center;"><img src="https://plotly.com/~james.booth/74.png?share_key=R0nJm9gWNkbaq7cB8jVnuT" alt="DA7_plotlyAvailabilityGauge" style="max-width: 100%;width: 600px;"  width="600" onerror="this.onerror=null;this.src='https://plotly.com/404.png';" /></a>
        <script data-plotly="james.booth:74" sharekey-plotly="R0nJm9gWNkbaq7cB8jVnuT" src="https://plotly.com/embed.js" async></script></div>
    

    <div class="performance_plot"><a href="https://plotly.com/~james.booth/75/?share_key=rdbiRcxd8ehbTCPy2gjZgd" target="_blank" title="DA7_plotlyPerformanceGauge" style="display: block; text-align: center;"><img src="https://plotly.com/~james.booth/75.png?share_key=rdbiRcxd8ehbTCPy2gjZgd" alt="DA7_plotlyPerformanceGauge" style="max-width: 100%;width: 600px;"  width="600" onerror="this.onerror=null;this.src='https://plotly.com/404.png';" /></a>
        <script data-plotly="james.booth:75" sharekey-plotly="rdbiRcxd8ehbTCPy2gjZgd" src="https://plotly.com/embed.js" async></script></div>
    

    <div class="quality_plot"><a href="https://plotly.com/~james.booth/76/?share_key=JMc0w67C4Uy0XzQNqlNcLH" target="_blank" title="DA7_plotlyQualityGauge" style="display: block; text-align: center;"><img src="https://plotly.com/~james.booth/76.png?share_key=JMc0w67C4Uy0XzQNqlNcLH" alt="DA7_plotlyQualityGauge" style="max-width: 100%;width: 600px;"  width="600" onerror="this.onerror=null;this.src='https://plotly.com/404.png';" /></a>
        <script data-plotly="james.booth:76" sharekey-plotly="JMc0w67C4Uy0XzQNqlNcLH" src="https://plotly.com/embed.js" async></script></div>
</div>

<div>
<p>Serial Number: 950 2213 2302  |  Year: 2011  |  Software Version: rd@ATRACMP12\evo12p52x</p>

</div>



{% endblock content %}
